.header {
    padding: 1.5rem;
    width:  93%;
    margin-left: auto;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 2rem;
    background: linear-gradient(to left, #F76AC2, #3EDBFF);
}
