.header {
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    background: linear-gradient(to left, #F76AC2, #3EDBFF);
}