#body {
  margin: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
 

.login {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .account-icon {
    display: flex;
    justify-content: center;
    
    img {
      width: 150px;
      height: 150px;
      object-fit: contain;
      transition: transform 0.3s ease;
      
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .login-form {
    width: 90%;
    background-color: #eff1fc;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    .form-group {
      margin-bottom: 1.5rem;

      .input-container {
        position: relative;


        input {
          font-size: 1.1rem;
          width: 80%;
          padding: 0.75rem 1rem 0.75rem 2.5rem;
          border: 1px solid #e2e8f0;
          border-radius: 0.375rem;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
          transition: border-color 0.3s ease;

          &:focus {
            outline: none;
            border-color: #4299e1;
            box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
          }
        }

        .input-icon {
          position: absolute;
          top: 50%;
          left: 1rem;
          transform: translateY(-50%);
          color: #a0aec0;
        }
      }
    }

    .checkbox-group {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;

      input[type="checkbox"] {
        
        margin-right: 0.5rem;
      }

      label {
        font-size: 1rem;
        
        color: #4a5568;
      }
    }

    .login-button {
   
     width: 8rem;
      padding: 0.75rem;
      background-image: linear-gradient(to left, #ec68b5, #8abeee);
      color: white;
      font-weight: 700;
      font-size: 1rem;
      border: none;
      border-radius: 9999px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    

      &:hover {
        transform: scale(1.05);
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
      }
    }

    .form-links {
      text-align: center;
      margin-top: 1.5rem;

      .forgot-password {
        display: block;
        color: #4299e1;
        font-weight: 700;
        text-decoration: none;
        margin-bottom: 0.5rem;
        transition: color 0.3s ease;

        &:hover {
          color: #3182ce;
        }
      }

      .register-link {
        color: #4299e1;
        font-weight: 700;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: #3182ce;
        }
      }
    }
  
}
}
}