.hocsinh {
    flex: 1;
    padding: 1.5rem;
    margin-left: 5rem;
    margin-top: 100px;
    font-family: Helvetica, Arial, Tahoma, sans-serif;
    color: #474747;
}

.search-filter-container {
    display: flex;
    justify-content: space-between; /* Đưa ô tìm kiếm sang trái, nút lọc sang phải */
    align-items: center;
    margin-bottom: 1rem;
}
.search-box {
    display: flex;
    align-items: center;
    background: white;
    padding: 0.5rem;
    border-radius: 999px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    width: 400px;
    margin-left: 10%;
  
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 999px;
}

.search-box button {
    margin-left: 9rem;
    background: none;
    border: none;
    color: #6D28D9;
    font-size: 1.2rem;
    cursor: pointer;
}

.filter-btn {
    background: #2563EB;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    margin-bottom: 0;
    width: 8rem;
    margin-right: 10%;
    position: relative;
}

.filter-btn i {
    font-size: 1rem;
}
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
   // margin-bottom: 1rem;
    margin-left: 10%;
    margin-right: 10%;  
}
.table-container {
    width: 80%;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead tr {
    background: #f7db95;
    text-align: center;
    
}

th,
td {
    padding: 2rem;
    border-bottom: 1px solid #E5E7EB;
    text-align: center;

}

tbody tr:nth-child(even) {
    background: #F3E8FF;
    
}

button {
   
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(255, 91, 137);
    font-size: 1rem;
    width: 100%;
    height: 100%;
   
    text-align: center;
    justify-content: center;
    align-items: center;
    &:hover {
        transform: scale(1.1);
       // box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }
    
}
