<nav class="sidebar">
    <div class="profile">
        <img alt="User profile" 
             src="https://storage.googleapis.com/a1aa/image/hiCfLbekyfRdCR6xjo6vwuaQ1Cp4oSFKFAKJvcLm6jI.jpg"/>
    </div>
    
    <div class="menu-items">
        <div class="menu-item active">
            <i class="fas fa-tachometer-alt"></i>
        </div>
        <div class="menu-item">
            <i class="fas fa-users"></i>
        </div>
        <div class="menu-item">
            <i class="fas fa-question-circle"></i>
        </div>
        <div class="menu-item">
            <i class="fas fa-file-alt"></i>
        </div>
        <div class="menu-item">
            <i class="fas fa-trophy"></i>
        </div>
    </div>

    <div class="logout">
        <i class="fas fa-sign-out-alt"></i>
    </div>
</nav>