<nav class="sidebar" 
     [class.expanded]="isExpanded" 
     (mouseover)="onMouseEnter()" 
     (mouseleave)="onMouseLeave()">

    <div class="profile">
        <img alt="User profile" 
             src="https://storage.googleapis.com/a1aa/image/hiCfLbekyfRdCR6xjo6vwuaQ1Cp4oSFKFAKJvcLm6jI.jpg"/>
    </div>

    <div class="menu-items">
        <div class="menu-item" 
        *ngFor="let item of menuItems"
        [ngStyle]="{'border-left': isExpanded ? '5px solid ' + item.color : 'none'}"
        (click)="navigateTo(item.route)"
        >
        <i class="fas {{ item.icon }}" [ngStyle]="{'color': item.color}"></i>
            <span class="menu-label" *ngIf="isExpanded">{{ item.label }}</span>
        </div>
    </div>
</nav>
